<html>
<head>

  <meta charset="utf-8" />
</head>

<div class="alert alert-primary" role="alert" *ngIf="inclusao">
  Agendamento realizado com sucesso!
</div>

<h2>Página do Paciente</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Data</th>
      <th scope="col">Horário</th>
      <th scope="col">Agendar</th>
    </tr>
  </thead>
  <tbody *ngFor="let marcacao of marcacoes">
    <tr>
      <td scope="row">{{marcacao.id}}</td>
      <td>{{marcacao.dataMarcacao}}</td>
      <td>{{marcacao.horario}}</td>
      <td>
        <button class="btn btn-danger btn-block mb-2" type="submit" (click)="desmarcarMarcacao()">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
          <span class="sr-only">Loading...</span>
          Desagendar
        </button>
      </td>
    </tr>

  </tbody>
</table>
</html>
